// _buttons.scss

.button {
  display: inline-block;
  cursor: pointer;
  background: none;
  border: none;
  padding: 17px 0;
}

.small {
  padding: 13px 36px 11px 36px;
}

a.solid-white {
  color: #3DC59F;
  background-color: $white;
  @include box-shadow(0,10px,20px,0,0,0,0,0.04);
  @include transition(background-color, .15s, linear);
  @include font-smoothing(antialiased);
  padding: 17px 0;
  width: 183px;
  &:first-of-type {
    margin-right: 8px;
  }
  &:hover {
    background-color: #FAFBFC;
  }
  &:active {
    color: $green;
  }
}

a.solid-green {
  color: $white;
  background-color: $green-blue;
  @include font-smoothing(antialiased);
  @include transition(background-color, .15s, linear);
  width: 151px;
  &:hover {
    background-color: #13A68C;
  }
  &:active {
    color: $green;
  }
}

a.empty-green {
  color: $green-blue;
  border: 1px solid $green-blue;
  padding: 16px 0;
  width: 151px;
  background-color: $white;
  @include font-smoothing(antialiased);
  @include transition(border-color, .15s, linear);
  &:hover {
    border-color: #01886C;
  }
  &:active {
    color: $green;
  }
}

@media screen and (min-width: 768px) {

  #index a.white {
    border: 1px solid $white;
    @include transition(opacity, .15s, linear);
    padding: 13px 39px 10px 39px;
    color: $white;
    &:active {
      color: $white;
    }
  }

  #nosotros a.white, #textpage a.white, #error a.white {
    border: 1px solid $grey-7;
    background-color: $white;
    padding: 13px 39px 10px 39px;
    color: $grey-7;
    &:hover {
      border-color: #3DC587;
    }
    &:active {
      color: $white;
    }
  }

}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .button.white {
    border: none;
    padding: 0px;
  }
}
