#index {
  header {
    height: calc(100vh + 60px);
  }
  #pienza {
    background: url(../assets/img/logo-pienza-dark.png) no-repeat;
    background-size: 130px 27px;
    width: 130px;
    height: 27px;
    margin-top: 2px;
  }
  #lago {
    background: url(../assets/img/logo-lago-dark.png) no-repeat;
    background-size: 81px 81px;
    width: 81px;
    height: 81px;
    margin-top: 6px;
  }
  #reconstruir {
    background: url(../assets/img/logo-reconstruir-dark.png) no-repeat;
    background-size: 179px 34px;
    width: 179px;
    height: 34px;
    margin-top: 13px;
  }
  #fortana {
    background: url(../assets/img/logo-fortana-dark.png) no-repeat;
    background-size: 105px 16px;
    width: 105px;
    height: 16px;
    margin-top: 14px;
  }
  #parque {
    background: url(../assets/img/logo-parque-dark.png) no-repeat;
    background-size: 86px 92px;
    width: 86px;
    height: 92px;
    margin-top: 14px;
  }
}

#hero-img-wrap {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  z-index: -1;
}

#hero-img {
  background: url(../assets/img/hero.jpg) no-repeat left;
  background-size: cover;
  height: calc(100vh + 60px);
}

#logo-wall {
  padding: 38px 0;
  background-color: #F3F5F7;
  position: relative;
  z-index: -2;
}

#feature1-img {
  background: url(../assets/img/feature1.png) no-repeat;
  background-size: 574px 654px;
  width: 574px;
  height: 654px;
}

#feature2-img {
  background: url(../assets/img/feature2.png) no-repeat;
  background-size: 627px 742px;
  width: 627px;
  height: 742px;
}

#feature3-img {
  background: url(../assets/img/feature3-lg.png) no-repeat;
  background-size: 963px 702px;
  width: 963px;
  height: 702px;
}

footer {
  #email, #git {
    margin-right: 20px;
    cursor: pointer;
    @include transition(opacity, .15s, linear);
    &:hover {
      opacity: .7;
    }
  }
}

#footer-img-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  z-index: 0;
}

#footer-img {
  background: url(../assets/img/footer.jpg) no-repeat left;
  background-size: cover;
}

#map {
  display: block;
  width: 100vw;
  height: 88vh;
}


// LARGE SCREENS
@media screen and (min-width: 1400px) {

  #index .nav a {
    color: white;
    opacity: 1.0;
    text-shadow: 0 0 20px rgba(0,0,0,0.60);
    @include transition(all, .15s, linear);
    &:hover {
      opacity: 0.8;
    }
  }
  #index header {
    padding-top: 28px;
    h1 {
      margin: 204px 0 14px 0;
    }
    #hero-img-wrap {
      width: 57.5%;
    }
    #hero-content {
      p {
        width: 94%;
        margin-bottom: 40px;
      }
      .button.solid-green {
        margin-right: 8px;
      }
    }
  }
  #logo-wall {
    margin-top: -51px;
    margin-bottom: 88px;
  }
  #feature1, #feature2, #feature3 {
    p {
      margin-bottom: 21px;
    }
  }
  #feature1 {
    h2 {
      margin-bottom: 10px;
      width: 330px;
    }
  }
  #feature2 {
    margin-top: -81px;
    h2 {
      margin-bottom: 10px;
    }
    #feature2-img {
      margin-left: -10%;
    }
  }
  #feature3 {
    margin: 165px 0 270px 0;
    #feature3-img {
      position: absolute;
      left: 0;
      display: flex;
      align-self: center;
      z-index: -1;
    }
    h2 {
      margin-bottom: 10px;
    }
  }
  #feature2, #feature3 {
    h2 {
      width: 330px;
    }
    p {
      margin-bottom: 21px;
    }
  }
  #index footer {
    margin-top: 45px;
    padding: 212px 0 34px 0;
    #footer-img {
      height: 720px;
    }
    #footer-img-wrap {
      width: 50%;
    }
    h2 {
      margin-bottom: 21px;
    }
    p {
      margin-bottom: 27px;
    }
    .button {
      margin-bottom: 156px;
    }
  }

}


// MEDIUM SCREENS
@media screen and (max-width: 1399px) and (min-width: 980px) {

  #index .nav a {
    color: white;
    opacity: 1.0;
    text-shadow: 0 0 20px rgba(0,0,0,0.60);
    @include transition(all, .15s, linear);
    &:hover {
      opacity: 0.8;
    }
  }
  #index header {
    margin-bottom: -50px;
    padding-top: 28px;
    h1 {
      margin: 119px 0 20px 0;
    }
    #hero-img-wrap {
      width: 55%;
    }
    #hero-content {
      p {
        width: 84%;
        margin-bottom: 31px;
      }
    }
    a.solid-green {
      padding: 17px 37px 15px 37px;
      margin-right: 8px;
    }
    a.empty-green {
      padding: 16px 23px 14px 23px;
    }
  }
  #index {
    #pienza {
      background: url(../assets/img/logo-pienza-dark.png) no-repeat;
      background-size: 119px 25px;
      width: 119px;
      height: 25px;
      margin-top: 4px;
    }
    #lago {
      background: url(../assets/img/logo-lago-dark.png) no-repeat;
      background-size: 74px 74px;
      width: 74px;
      height: 74px;
      margin-top: 8px;
    }
    #reconstruir {
      background: url(../assets/img/logo-reconstruir-dark.png) no-repeat;
      background-size: 163px 31px;
      width: 163px;
      height: 31px;
      margin-top: 12px;
    }
    #fortana {
      background: url(../assets/img/logo-fortana-dark.png) no-repeat;
      background-size: 96px 15px;
      width: 96px;
      height: 15px;
      margin-top: 16px;
    }
    #parque {
      background: url(../assets/img/logo-parque-dark.png) no-repeat;
      background-size: 79px 84px;
      width: 79px;
      height: 84px;
      margin-top: 12px;
    }
  }
  #logo-wall {
    padding: 44px 0;
    margin-bottom: 41px;
  }
  #feature1, #feature2, #feature3 {
    p {
      margin-bottom: 21px;
    }
  }
  #feature1 {
    #feature1-img {
      background: url(../assets/img/feature1-md.png) no-repeat;
      background-size: 581px 654px;
      width: 581px;
      height: 654px;
    }
    h2 {
      margin-bottom: 10px;
      width: 330px;
    }
  }
  #feature2 {
    margin: -38px 0 16px 0;
    #feature2-img {
      background: url(../assets/img/feature2-md.png) no-repeat;
      background-size: 570px 742px;
      width: 570px;
      height: 742px;
    }
  }
  #feature3 {
    margin: 54px 0 192px 0;
    #feature3-img {
      background: url(../assets/img/feature3-md.png) no-repeat;
      background-size: 741px 647px;
      width: 741px;
      height: 647px;
      position: absolute;
      left: 0;
      display: flex;
      align-self: center;
      z-index: -1;
    }
  }
  #feature2, #feature3 {
    h2 {
      margin-bottom: 10px;
      width: 330px;
    }
    p {
      margin-bottom: 21px;
    }
  }
  footer {
    margin-top: 45px;
    padding: 118px 0 34px 0;
    #footer-img {
      height: 523px;
    }
    #footer-img-wrap {
      width: 50%;
      bottom: 62px;
    }
    h2 {
      margin-bottom: 21px;
    }
    p {
      margin-bottom: 27px;
      width: 88%;
    }
    .button {
      margin-bottom: 89px;
    }
  }

}


// SMALL SCREENS
@media screen and (max-width: 979px) and (min-width: 768px) {
  #index .nav a {
    color: #000000;
    opacity: 0.8;
    @include transition(all, .15s, linear);
    &:hover {
      color: #3DC587;
    }
  }
  #index header {
    margin-bottom: 70vh;
    padding-top: 28px;
    a.button.white {
      border: 1px solid $grey-7;
      background-color: white;
      color: $grey-7;
      &:hover {
        border-color: #3DC587;
        color: #3DC587;
      }
      &:active {
        color: #3DC587;
      }
    }
    h1 {
      font-size: 74px;
      letter-spacing: -1.04px;
      line-height: 72px;
      margin: 101vh 0 -46px 0;
    }
    #hero-img-wrap {
      width: 100%;
      top: 97px;
    }
    #hero-img {
      background-position: center;
      height: 88vh;
      opacity: 1;
    }
    #hero-content {
      p {
        width: 84%;
        margin: 9px 0 19px 0;
      }
    }
    a.solid-green {
      padding: 17px 50.5px 15px 50.5px;
      margin-right: 8px;
    }
    a.empty-green {
      padding: 16px 37px 14px 37px;
    }
  }
  #index {
    #pienza {
      background: url(../assets/img/logo-pienza-dark.png) no-repeat;
      background-size: 104px 22px;
      width: 104px;
      height: 22px;
      margin-top:0;
    }
    #lago {
      background: url(../assets/img/logo-lago-dark.png) no-repeat;
      background-size: 65px 65px;
      width: 65px;
      height: 65px;
      margin-top:0;
    }
    #reconstruir {
      background: url(../assets/img/logo-reconstruir-dark.png) no-repeat;
      background-size: 144px 28px;
      width: 144px;
      height: 28px;
      margin-top: 0;
    }
    #fortana {
      background: url(../assets/img/logo-fortana-dark.png) no-repeat;
      background-size: 84px 13px;
      width: 84px;
      height: 13px;
      margin-top: 0;
    }
    #parque {
      background: url(../assets/img/logo-parque-dark.png) no-repeat;
      background-size: 69px 74px;
      width: 69px;
      height: 74px;
      margin-top: 0;
    }
  }
  #logo-wall {
    margin-bottom: 95px;
    padding: 36px 0;
  }
  #feature1, #feature2, #feature3 {
    text-align: center;
  }
  #feature1 {
    p {
      margin: 0 auto 21px auto;
      width: 73%;
    }
    margin-bottom: -12px;
    #feature1-img {
      background: url(../assets/img/feature1-sm.png) no-repeat;
      background-size: 579px 654px;
      width: 579px;
      height: 654px;
    }
    h2 {
      margin-bottom: 10px;
    }
  }
  #feature2 {
    p {
      margin: 0 auto;
    }
    margin-bottom: 16px;
    #feature2-img {
      background: url(../assets/img/feature2-sm.png) no-repeat;
      background-size: 627px 742px;
      width: 627px;
      height: 742px;
    }
  }
  #feature3 {
    margin-bottom: 81px;
    p {
      margin: 0 auto 41px auto;
    }
    #feature3-img {
      background: url(../assets/img/feature3-sm.png) no-repeat;
      background-size: 768px 552px;
      width: 768px;
      height: 552px;
    }
  }
  #feature2, #feature3 {
    h2 {
      margin: 20px auto 10px auto;
      width: 85%;
    }
    p {
      width: 73%;
    }
  }
  footer {
    text-align: center;
    margin-top: 45px;
    padding: 118px 0 34px 0;
    #footer-img {
      height: 523px;
    }
    #footer-img-wrap {
      width: 50%;
      bottom: 82px;
    }
    h2 {
      margin-bottom: 21px;
    }
    p {
      width: 81%;
      margin: 0 auto;
    }
    .button {
      margin: 27px 0 89px 0;
    }
  }

}


// EXTRA SMALL SCREENS
@media screen and (max-width: 767px) and (min-width: 0px) {

  #index .nav a {
    color: #000000;
    opacity: 0.8;
    @include transition(all, .15s, linear);
    &:hover {
      color: #3DC587;
    }
  }

  #index header {
    height: auto;
    margin-bottom: 54px;
    padding-top: 28px;
    h1 {
      font-size: 56px;
      line-height: 54px;
    }
    h2 {
      font-size: 39px;
    }
    #logo {
      display: block;
      img {
        width: 96px;
        height: auto;
      }
    }
    h1 {
      margin: 102vh 0 22px 0;
    }
    #hero-img-wrap {
      width: 100%;
      top: 84px;
    }
    #hero-img {
      background-position: center;
      height: 88vh;
      opacity: 1;
    }
    #hero-content {
      text-align: center;
      p {
        margin-bottom: 22px;
      }
    }
    a.solid-green {
      padding: 17px 45px 15px 45px;
      margin-right: 5px;
    }
    a.empty-green {
      padding: 16px 31px 14px 31px;
    }
  }
  #index {
    #pienza {
      background: url(../assets/img/logo-pienza-dark.png) no-repeat;
      background-size: 104px 22px;
      width: 104px;
      height: 22px;
      margin-top:0;
    }
    #lago {
      background: url(../assets/img/logo-lago-dark.png) no-repeat;
      background-size: 65px 65px;
      width: 65px;
      height: 65px;
      margin-top:0;
    }
    #reconstruir {
      background: url(../assets/img/logo-reconstruir-dark.png) no-repeat;
      background-size: 144px 28px;
      width: 144px;
      height: 28px;
      margin-top: 0;
    }
    #fortana {
      background: url(../assets/img/logo-fortana-dark.png) no-repeat;
      background-size: 84px 13px;
      width: 84px;
      height: 13px;
      margin-top: 0;
    }
    #parque {
      background: url(../assets/img/logo-parque-dark.png) no-repeat;
      background-size: 69px 74px;
      width: 69px;
      height: 74px;
      margin-top: 0;
    }
  }
  #logo-wall {
    margin-bottom: 95px;
    padding: 60px 0;
    #logo-row-2 {
      margin-top: 52px;
    }
  }
  #feature1, #feature2, #feature3 {
    text-align: center;
  }
  #feature1 {
    margin-top: 0px;
    p {
      width: 90%;
      margin: 0 auto 21px auto;
    }
    margin-bottom: -12px;
    #feature1-img {
      background: url(../assets/img/feature1-sm.png) no-repeat center;
      background-size: 385px 435px;
      width: 385px;
      height: 435px;
      margin-top: -3px;
    }
    h2 {
      margin: 0 0 10px 0;
    }
  }
  #feature2 {
    p {
      width: 90%;
      margin: 0 auto 21px auto;
    }
    margin-bottom: -24px;
    #feature2-img {
      background: url(../assets/img/feature2-xs.png) no-repeat center;
      background-size: 548px 506px;
      width: 548px;
      height: 506px;
      margin-top: -2px;
    }
  }
  #feature3 {
    margin: 36px 0 81px 0;
    p {
      margin: 0 auto 21px auto;
    }
    #feature3-img {
      background: url(../assets/img/feature3-sm.png) no-repeat center;
      background-size: 453px 325px;
      width: 453px;
      height: 325px;
      margin-top: 40px;
    }
  }
  #feature2, #feature3 {
    h2 {
      margin: 20px 0 10px 0;
    }
  }
  footer {
    text-align: center;
    padding: 360px 0 34px 0;
    #footer-img {
      height: 291px;
    }
    #footer-img-wrap {
      width: 100%;
      bottom: 510px;
    }
    h2 {
      margin-bottom: 21px;
    }
    p {
      margin: 0 auto 27px auto;
      width: 90%;
    }
    .button {
      margin-bottom: 89px;
    }
  }

}
