// _nav.scss

header {
  padding-top: 28px;
}

#logo {
  padding-top: 3px;
  display: inline-block;
}

header {
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  li:not(:last-of-type) {
    margin-right: 38px;
  }
  li a {
    opacity: 0.8;
    font-family: 'nunito-sans-800', sans-serif;
    font-size: 11px;
    letter-spacing: 0.8px;
    line-height: 16px;
    text-transform: uppercase;
  }
}

footer {
  background-color: #F3F5F7;
}
