header {
  padding-top: 28px;
}

#logo {
  padding-bottom: 3px;
  display: inline-block;
  @include transition(opacity, .15s, linear);
  &:hover {
    opacity: 0.8;
  }
}

header, footer {
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  li a, li > span {
    opacity: 0.8;
    font-family: 'nunito-sans-800', sans-serif;
    font-size: 13px;
    letter-spacing: 0.35px;
    line-height: 16px;
    @include font-smoothing(antialiased);
    cursor: pointer;
  }
}

header {
  li:not(:last-of-type) {
    margin-right: 38px;
  }
}

footer {
  height: 72px;
  .nav li a, .nav li > span {
    color: #9F9F9F;
    padding: 30px 0 26px 0;
    display: inline-flex;
    @include transition(color, .15s, linear);
    &:hover {
      color: #3DC587;
    }
  }
  li:not(:last-of-type) {
    margin-right: 30px;
  }
  #address {
    opacity: 0.4;
    @include nunito-sans;
    font-size: 12px;
    color: #0F0F0F;
    letter-spacing: 0.4px;
    line-height: 16px;
    margin-top: 1px;
  }
  .language-selected {
    display: none;
  }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  header {
    li:not(:last-of-type) {
      margin-right: 0px;
    }
    li:last-of-type {
      margin-left: 38px;
    }
  }
  footer .nav {
    width: 100%;
  }
}
