#nosotros .nav a {
  color: #000000;
  opacity: 0.8;
  @include transition(all, .15s, linear);
  &:hover {
    opacity: 1.0;
    color: #3DC587;
  }
}

.img-wrap {
  display: flex;
}

@media screen and (min-width: 1400px) {

#nosotros {
  h1 {
    margin: 141px 0 129px 0;
  }
  h1:after {
    content: '';
    position: absolute;
    width: 1px;
    height: auto;
    background-color: #E5EAEF;
    left: 239px;
    height: 70%;
    margin-top: 769px;
    z-index: 1;
  }
  h2 {
    font-size: 54px;
    line-height: 58px;
  }
  h2:before {
    content: '';
    border-radius: 50%;
    border: 2px solid white;
    width: 7px;
    height: 7px;
    position: absolute;
    left: 234px;
    margin-top: 21px;
    z-index: 3;
  }
  p {
    width: 90%;
  }
}
.img-wrap {
  position: relative;
  display: block;
  height: 469px;
  margin-bottom: 56px;
}
.img {
  display: flex;
  position: absolute;
  z-index: 0;
  height: 469px;
  width: 99.25%;
  margin-left: .75%;
}
header .img {
  background: url(../assets/img/nosotros-1.jpg) no-repeat left;
  background-size: cover;
}
#mision p {
  margin: 23px 0 78px 0;
}
#mision h2:before {
  background-color: #3DC59F;
}
#mision .img {
  background: url(../assets/img/nosotros-2.jpg) no-repeat left;
  background-size: cover;
}
#vision p {
  margin: 23px 0 78px 0;
}
#vision h2:before {
  background-color: #3DC59F;
}
#vision .img {
  background: url(../assets/img/nosotros-3.jpg) no-repeat left;
  background-size: cover;
}
#historia h2:before {
  background-color: #3DC59F;
}
#historia p:first-of-type {
  margin-top: 23px;
}
#historia p:not(:first-of-type) {
  margin-top: 30px;
}
#historia p:last-of-type {
  margin-bottom: 182px;
}
#equipo h2:before {
  background-color: #ADB6BF;
  border: 2px solid #F3F5F7;
}
#equipo {
  background-color: #F3F5F7;
}
#equipo h2 {
  padding: 179px 0 30px 0;
}
.person {
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}
.portrait {
  background-color: $white;
  display: flex;
  width: 100%;
  height: 100%;
}
.portrait-wrap {
  width: 100%;
  height: 270px;
  margin-bottom: 31px;
}
#eduardo .portrait {
  background: url(../assets/img/eduardo.jpg) no-repeat center;
  background-size: cover;
}
#kyle .portrait {
  background: url(../assets/img/kyle.jpg) no-repeat center;
  background-size: cover;
}
#luisa .portrait {
  background: url(../assets/img/luisa.jpg) no-repeat center;
  background-size: cover;
}
#carlos .portrait {
  background: url(../assets/img/carlos.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#oliver .portrait {
  background: url(../assets/img/oliver.jpg) no-repeat center;
  background-size: cover;
}
.name {
  display: flex;
  @include nunito-sans-200;
  @include font-smoothing(antialiased);
  font-size: 24px;
  color: $grey-7;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 3px;
}
.title {
  display: flex;
  opacity: 0.6;
  @include nunito-sans-200;
  @include font-smoothing(antialiased);
  font-size: 15px;
  color: #0F0F0F;
  letter-spacing: 0.6px;
  line-height: 30px;
}
#consejo {
  background-color: #F3F5F7;
  padding-bottom: 266px;
}
#consejo h2:before {
  background-color: #ADB6BF;
  border: 2px solid #F3F5F7;
}
#consejo h2 {
  padding: 15px 0 30px 0;
}
.partner-wall {
    height: 530px;
    margin: -140px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3DC59F;
    position: relative;
    z-index: 2;
    & .row:first-of-type {
      padding-bottom: 9px;
    }
    & .row:last-of-type {
      padding-top: 8px;
    }
    .logo {
      width: 234px;
      height: 138px;
      display: inline-flex;
    }
    .logo#pienza {
      background: url(../assets/img/logo-pienza.png) no-repeat;
      background-size: 234px 138px;
    }
    .logo#reconstruir {
      background: url(../assets/img/logo-reconstruir.png) no-repeat;
      background-size: 234px 138px;
    }
    .logo#archipielago {
      background: url(../assets/img/logo-archipielago.png) no-repeat;
      background-size: 234px 138px;
    }
    .logo#tanganica {
      background: url(../assets/img/logo-tanganica.png) no-repeat;
      background-size: 234px 138px;
    }
    .logo#parquemexico {
      background: url(../assets/img/logo-parquemexico.png) no-repeat;
      background-size: 234px 138px;
    }
    .logo#opi {
      background: url(../assets/img/logo-opi.png) no-repeat;
      background-size: 234px 138px;
    }
    .logo#fortana {
      background: url(../assets/img/logo-fortana.png) no-repeat;
      background-size: 234px 138px;
    }
    .logo#residencia {
      background: url(../assets/img/logo-residencia.png) no-repeat;
      background-size: 234px 138px;
    }
  }
#testimonial {
  padding: 181px 0 290px 0;
  position: relative;
  z-index: 2;
  background-color: $white;
}
.quote {
  @include nunito-sans-200;
  @include font-smoothing(antialiased);
  font-size: 24px;
  color: #141418;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
}
.attribution {
  display: flex;
  justify-content: center;
  margin: 19px auto 0 auto;
}
.author {
  display: inline-flex;
  @include roboto-500;
  font-size: 13px;
  color: #141418;
  letter-spacing: 0.52px;
  line-height: 12px;
  margin-right: 14px;
}
.org {
  display: inline-flex;
  opacity: 0.3;
  @include roboto-500;
  font-size: 13px;
  color: #141418;
  letter-spacing: 0.52px;
  line-height: 12px;
  }

}

@media screen and (max-width: 1399px) and (min-width: 980px) {

#nosotros {
  h1 {
    margin: 121px 0 124px 0;
    font-size: 68px;
    letter-spacing: -0.36px;
    line-height: 76px;
  }
  h1:after {
    content: '';
    position: absolute;
    width: 1px;
    height: auto;
    background-color: #E5EAEF;
    left: 81px;
    height: 72%;
    margin-top: 620px;
    z-index: 1;
  }
  h2 {
    font-size: 46px;
    line-height: 50px;
    letter-spacing: -0.23px;
  }
  h2:before {
    content: '';
    border-radius: 50%;
    border: 2px solid white;
    width: 7px;
    height: 7px;
    position: absolute;
    left: 76px;
    margin-top: 14px;
    z-index: 3;
  }
}
.img-wrap {
  position: relative;
  display: block;
  height: 341px;
  margin-bottom: 56px;
}
.img {
  display: flex;
  position: absolute;
  z-index: 0;
  height: 341px;
  width: 99.25%;
  margin-left: .75%;
}
header .img {
  background: url(../assets/img/nosotros-1.jpg) no-repeat left;
  background-size: cover;
}
#mision p {
  margin: 17px 0 78px 0;
}
#mision h2:before {
  background-color: #3DC59F;
}
#mision .img {
  background: url(../assets/img/nosotros-2.jpg) no-repeat left;
  background-size: cover;
}
#vision p {
  margin: 17px 0 78px 0;
}
#vision h2:before {
  background-color: #3DC59F;
}
#vision .img {
  background: url(../assets/img/nosotros-3.jpg) no-repeat left;
  background-size: cover;
}
#historia h2:before {
  background-color: #3DC59F;
}
#historia p {
  width: 95%;
}
#historia p:first-of-type {
  margin-top: 17px;
}
#historia p:not(:first-of-type) {
  margin-top: 30px;
}
#historia p:last-of-type {
  margin-bottom: 122px;
}
#equipo h2:before {
  background-color: #ADB6BF;
  border: 2px solid #F3F5F7;
}
#equipo {
  background-color: #F3F5F7;
}
#equipo h2 {
  padding: 140px 0 48px 0;
}
.person {
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}
.portrait {
  background-color: $white;
  display: flex;
  height: 290px;
  width: 100%;
}
.portrait-wrap {
  width: 100%;
  height: 290px;
  margin-bottom: 31px;
}
#eduardo .portrait {
  background: url(../assets/img/eduardo.jpg) no-repeat center;
  background-size: cover;
}
#kyle .portrait {
  background: url(../assets/img/kyle.jpg) no-repeat center;
  background-size: cover;
}
#luisa .portrait {
  background: url(../assets/img/luisa.jpg) no-repeat center;
  background-size: cover;
}
#carlos .portrait {
  background: url(../assets/img/carlos.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#oliver .portrait {
  background: url(../assets/img/oliver.jpg) no-repeat center;
  background-size: cover;
}
.name {
  display: flex;
  @include nunito-sans-200;
  @include font-smoothing(antialiased);
  font-size: 24px;
  color: $grey-7;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 3px;
}
.title {
  display: flex;
  opacity: 0.6;
  @include nunito-sans-200;
  @include font-smoothing(antialiased);
  font-size: 15px;
  color: #0F0F0F;
  letter-spacing: 0.6px;
  line-height: 30px;
}
#consejo {
  background-color: #F3F5F7;
  padding-bottom: 209px;
}
#consejo h2:before {
  background-color: #ADB6BF;
  border: 2px solid #F3F5F7;
}
#consejo h2 {
  padding: 25px 0 32px 0;
}
.partner-wall {
  height: 530px;
  margin: -130px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3DC59F;
  position: relative;
  z-index: 2;
  & .row:first-of-type {
    padding-bottom: 9px;
  }
  & .row:last-of-type {
    padding-top: 8px;
  }
  .logo {
    width: 234px;
    height: 138px;
    display: inline-flex;
  }
  .logo#pienza {
    background: url(../assets/img/logo-pienza.png) no-repeat;
    background-size: 234px 138px;
  }
  .logo#reconstruir {
    background: url(../assets/img/logo-reconstruir.png) no-repeat;
    background-size: 234px 138px;
  }
  .logo#archipielago {
    background: url(../assets/img/logo-archipielago.png) no-repeat;
    background-size: 234px 138px;
  }
  .logo#tanganica {
    background: url(../assets/img/logo-tanganica.png) no-repeat;
    background-size: 234px 138px;
  }
  .logo#parquemexico {
    background: url(../assets/img/logo-parquemexico.png) no-repeat;
    background-size: 234px 138px;
  }
  .logo#opi {
    background: url(../assets/img/logo-opi.png) no-repeat;
    background-size: 234px 138px;
  }
  .logo#fortana {
    background: url(../assets/img/logo-fortana.png) no-repeat;
    background-size: 234px 138px;
  }
  .logo#residencia {
    background: url(../assets/img/logo-residencia.png) no-repeat;
    background-size: 234px 138px;
  }
}
#testimonial {
  padding: 125px 0 195px 0;
  position: relative;
  z-index: 2;
  background-color: $white;
}
.quote {
  @include nunito-sans-200;
  @include font-smoothing(antialiased);
  font-size: 24px;
  color: #141418;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
}
.attribution {
  display: flex;
  justify-content: center;
  margin: 19px auto 0 auto;
}
.author {
  display: inline-flex;
  @include roboto-500;
  font-size: 13px;
  color: #141418;
  letter-spacing: 0.52px;
  line-height: 12px;
  margin-right: 14px;
}
.org {
  display: inline-flex;
  opacity: 0.3;
  @include roboto-500;
  font-size: 13px;
  color: #141418;
  letter-spacing: 0.52px;
  line-height: 12px;
}

}

@media screen and (max-width: 979px) and (min-width: 768px) {


#nosotros {
  h1 {
    margin: 116px 0 108px 0;
    font-size: 64px;
    letter-spacing: -0.34px;
    line-height: 72px;
  }
  h1:after {
    content: '';
    position: absolute;
    width: 1px;
    height: auto;
    background-color: #E5EAEF;
    left: 81px;
    height: 72%;
    margin-top: 600px;
    z-index: 1;
  }
  h2 {
    font-size: 46px;
    line-height: 50px;
    letter-spacing: -0.23px;
  }
  h2:before {
    content: '';
    border-radius: 50%;
    border: 2px solid white;
    width: 7px;
    height: 7px;
    position: absolute;
    left: 76px;
    margin-top: 14px;
    z-index: 3;
  }
}
.img-wrap {
  position: relative;
  display: block;
  height: 341px;
  margin-bottom: 62px;
}
.img {
  display: flex;
  position: absolute;
  z-index: 0;
  height: 341px;
  width: 97.5%;
  margin-left: 2.5%;
}
header .img {
  background: url(../assets/img/nosotros-1.jpg) no-repeat left;
  background-size: cover;
}
#mision p {
  margin: 17px 0 78px 0;
}
#mision h2:before {
  background-color: #3DC59F;
}
#mision .img {
  background: url(../assets/img/nosotros-2.jpg) no-repeat left;
  background-size: cover;
}
#vision p {
  margin: 17px 0 78px 0;
}
#vision h2:before {
  background-color: #3DC59F;
}
#vision .img {
  background: url(../assets/img/nosotros-3.jpg) no-repeat left;
  background-size: cover;
}
#historia {
  margin-bottom: 80px;
}
#historia h2:before {
  background-color: #3DC59F;
}
#historia p#opener {
  margin-top: 17px;
}
#historia p {
  margin-bottom: 30px;
}
#equipo h2:before {
  background-color: #ADB6BF;
  border: 2px solid #F3F5F7;
}
#equipo {
  background-color: #F3F5F7;
}
#equipo h2 {
  padding: 85px 0 48px 0;
}
.person {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}
.portrait {
  background-color: $white;
  display: flex;
  height: 213px;
  width: 100%;
}
.portrait-wrap {
  width: 100%;
  height: 213px;
  margin-bottom: 22px;
}
#eduardo .portrait {
  background: url(../assets/img/eduardo.jpg) no-repeat center;
  background-size: cover;
}
#kyle .portrait {
  background: url(../assets/img/kyle.jpg) no-repeat center;
  background-size: cover;
}
#luisa .portrait {
  background: url(../assets/img/luisa.jpg) no-repeat center;
  background-size: cover;
}
#carlos .portrait {
  background: url(../assets/img/carlos.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#oliver .portrait {
  background: url(../assets/img/oliver.jpg) no-repeat center;
  background-size: cover;
}
.name {
  display: flex;
  @include nunito-sans-200;
  @include font-smoothing(antialiased);
  font-size: 24px;
  color: $grey-7;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 3px;
}
.title {
  display: flex;
  opacity: 0.6;
  @include nunito-sans-200;
  @include font-smoothing(antialiased);
  font-size: 15px;
  color: #0F0F0F;
  letter-spacing: 0px;
  line-height: 30px;
}
#consejo {
  background-color: #F3F5F7;
  padding-bottom: 198px;
}
#consejo h2:before {
  background-color: #ADB6BF;
  border: 2px solid #F3F5F7;
}
#consejo h2 {
  padding: 25px 0 32px 0;
}
.partner-wall {
  height: 402px;
  margin: -126px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3DC59F;
  position: relative;
  z-index: 2;
  & .row:first-of-type {
    padding-bottom: 9px;
  }
  & .row:last-of-type {
    padding-top: 8px;
  }
  .logo {
    width: 172px;
    height: 138px;
    display: inline-flex;
  }
  .logo#pienza {
    background: url(../assets/img/logo-pienza-sm.png) no-repeat;
    background-size: 172px 138px;
  }
  .logo#reconstruir {
    background: url(../assets/img/logo-reconstruir-sm.png) no-repeat;
    background-size: 172px 138px;
  }
  .logo#archipielago {
    background: url(../assets/img/logo-archipielago-sm.png) no-repeat;
    background-size: 172px 138px;
  }
  .logo#tanganica {
    background: url(../assets/img/logo-tanganica-sm.png) no-repeat;
    background-size: 172px 138px;
  }
  .logo#parquemexico {
    background: url(../assets/img/logo-parquemexico-sm.png) no-repeat;
    background-size: 172px 138px;
  }
  .logo#opi {
    background: url(../assets/img/logo-opi-sm.png) no-repeat;
    background-size: 172px 138px;
  }
  .logo#fortana {
    background: url(../assets/img/logo-fortana-sm.png) no-repeat;
    background-size: 172px 138px;
  }
  .logo#residencia {
    background: url(../assets/img/logo-residencia-sm.png) no-repeat;
    background-size: 172px 138px;
  }
}
#testimonial {
  padding: 82px 0 125px 0;
  position: relative;
  z-index: 2;
  background-color: $white;
}
.quote {
  @include nunito-sans-200;
  @include font-smoothing(antialiased);
  font-size: 18px;
  color: #141418;
  letter-spacing: 0;
  line-height: 32px;
  text-align: center;
}
.attribution {
  display: flex;
  justify-content: center;
  margin: 19px auto 0 auto;
}
.author {
  display: inline-flex;
  @include roboto-500;
  font-size: 13px;
  color: #141418;
  letter-spacing: 0.52px;
  line-height: 12px;
  margin-right: 14px;
}
.org {
  display: inline-flex;
  opacity: 0.3;
  @include roboto-500;
  font-size: 13px;
  color: #141418;
  letter-spacing: 0.52px;
  line-height: 12px;
}

}

@media screen and (max-width: 767px) and (min-width: 0px) {

#nosotros {
  h1 {
    margin: 56px 0 68px 0;
    font-size: 56px;
    letter-spacing: -0.79px;
    line-height: 58px;
  }
  h2 {
    font-size: 46px;
    line-height: 50px;
    letter-spacing: -0.23px;
  }
}
.img-wrap {
  position: relative;
  display: block;
  height: 341px;
  margin-bottom: 60px;
}
.img {
  display: flex;
  position: absolute;
  z-index: 0;
  height: 341px;
  width: 100%;
}
header .img {
  background: url(../assets/img/nosotros-1.jpg) no-repeat left;
  background-size: cover;
}
#mision p {
  margin: 11px 0 54px 0;
}
#mision h2:before {
  background-color: #3DC59F;
}
#mision .img {
  background: url(../assets/img/nosotros-2.jpg) no-repeat left;
  background-size: cover;
}
#vision p {
  margin: 11px 0 54px 0;
}
#vision h2:before {
  background-color: #3DC59F;
}
#vision .img {
  background: url(../assets/img/nosotros-3-xs.jpg) no-repeat left;
  background-size: cover;
}
#historia {
  margin-bottom: 48px;
}
#historia h2:before {
  background-color: #3DC59F;
}
#historia p#opener {
  margin-top: 11px;
}
#historia p {
  margin-bottom: 30px;
}
#equipo h2:before {
  background-color: #ADB6BF;
  border: 2px solid #F3F5F7;
}
#equipo {
  background-color: #F3F5F7;
}
#equipo h2 {
  padding: 84px 0 48px 0;
}
.person {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}
.portrait {
  background-color: $white;
  display: flex;
  height: 172px;
  width: 100%;
}
.portrait-wrap {
  width: 100%;
  height: 172px;
  margin-bottom: 15px;
}
#eduardo .portrait {
  background: url(../assets/img/eduardo.jpg) no-repeat center;
  background-size: cover;
}
#kyle .portrait {
  background: url(../assets/img/kyle.jpg) no-repeat center;
  background-size: cover;
}
#luisa .portrait {
  background: url(../assets/img/luisa.jpg) no-repeat center;
  background-size: cover;
}
#carlos .portrait {
  background: url(../assets/img/carlos.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#rodrigo .portrait {
  background: url(../assets/img/rodrigo.jpg) no-repeat center;
  background-size: cover;
}
#oliver .portrait {
  background: url(../assets/img/oliver.jpg) no-repeat center;
  background-size: cover;
}
.name {
  display: flex;
  @include nunito-sans-200;
  @include font-smoothing(antialiased);
  font-size: 15px;
  color: $grey-7;
  letter-spacing: 0.6px;
  line-height: 30px;
  margin-bottom: 4px;
}
.title {
  display: flex;
  opacity: 0.4;
  @include nunito-sans;
  @include font-smoothing(antialiased);
  font-size: 12px;
  color: #0F0F0F;
  letter-spacing: 0.4px;
  line-height: 16px;
}
#consejo {
  background-color: #F3F5F7;
  padding-bottom: 112px;
}
#consejo h2:before {
  background-color: #ADB6BF;
  border: 2px solid #F3F5F7;
}
#consejo h2 {
  padding: 21px 0 27px 0;
}
.partner-wall {
  height: 402px;
  margin: -64px 0 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3DC59F;
  position: relative;
  z-index: 2;
  & .row:first-of-type {
  padding-bottom: 1px;
  }
  & .row:last-of-type {
    padding-top: 1px;
  }
  .logo {
    width: 139px;
    height: 90px;
    display: inline-flex;
  }
  .logo#pienza {
    background: url(../assets/img/logo-pienza-xs.png) no-repeat;
    background-size: 139px 90px;
  }
  .logo#reconstruir {
    background: url(../assets/img/logo-reconstruir-xs.png) no-repeat;
    background-size: 139px 90px;
  }
  .logo#archipielago {
    background: url(../assets/img/logo-archipielago-xs.png) no-repeat;
    background-size: 139px 90px;
  }
  .logo#tanganica {
    background: url(../assets/img/logo-tanganica-xs.png) no-repeat;
    background-size: 139px 90px;
  }
  .logo#parquemexico {
    background: url(../assets/img/logo-parquemexico-xs.png) no-repeat;
    background-size: 139px 90px;
  }
  .logo#opi {
    background: url(../assets/img/logo-opi-xs.png) no-repeat;
    background-size: 139px 90px;
  }
  .logo#fortana {
    background: url(../assets/img/logo-fortana-xs.png) no-repeat;
    background-size: 139px 90px;
  }
  .logo#residencia {
    background: url(../assets/img/logo-residencia-xs.png) no-repeat;
    background-size: 139px 90px;
  }
}
#testimonial {
  padding: 81px 0 125px 0;
  position: relative;
  z-index: 2;
  background-color: $white;
}
.quote {
  @include nunito-sans-200;
  @include font-smoothing(antialiased);
  font-size: 18px;
  color: #141418;
  letter-spacing: 0;
  line-height: 32px;
  text-align: center;
}
.attribution {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 19px auto 0 auto;
}
.author {
  display: inline-flex;
  @include roboto-500;
  font-size: 13px;
  color: #141418;
  letter-spacing: 0.52px;
  line-height: 12px;
  margin-bottom: 8px;
}
.org {
  display: inline-flex;
  opacity: 0.3;
  @include roboto-500;
  font-size: 13px;
  color: #141418;
  letter-spacing: 0.52px;
  line-height: 12px;
}

}
