// _typeworks.scss

p {
  @include nunito-sans-200;
  font-size: 15.5px;
  line-height: 30px;
  color: $grey-7;
  opacity: 0.8;
}

h1 {
  @include din-bold;
  font-size: 84px;
  line-height: 92px;
  letter-spacing: -1.2px;
  color: $grey-7;
}

h2 {
  @include din-bold;
  font-size: 40px;
  line-height: 48px;
  color: $grey-7;
}

h3 {
  @include roboto-500;
  @include font-smoothing(antialiased);
  font-size: 18px;
  color: $grey-7;
  letter-spacing: 0.22px;
  line-height: 28px;
}

a {
  text-decoration: none;
  @include font-smoothing(antialiased);
}

a.arrow {
  @include nunito-sans-700;
  font-size: 15px;
  color: #3DC59F;
  letter-spacing: 0.4px;
  line-height: 16px;
  @include transition(color, .15s, linear);
}

a.arrow:after {
  content: "";
  background: url(../assets/img/right-arrow.svg) no-repeat;
  width: 10px;
  height: 10px;
  margin: 6px 0 0 5px;
}

a.arrow:hover {
  color: #13A68C;
}

.tag {
  @include nunito-sans-600;
  font-size: 12px;
  line-height: 15px;
  color: $grey-3;
}

a.button, header#beta li {
  @include nunito-sans-700;
  @include font-smoothing(antialiased);
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.35px;
  text-align: center;
}

.card-text {
  @include work-sans-300;
  font-size: 16px;
  color: #141418;
  letter-spacing: 0;
  line-height: 25px;
}

.card-title {
  @include work-sans-500;
  @include font-smoothing(antialiased);
  font-size: 20px;
  color: #141418;
  letter-spacing: 0;
  line-height: 25px;
}
